/* Change the navbar color */
.navbar {
    background-color: #f5915b;
}

/* Change the navbar text color */
.navbar-light .navbar-nav .nav-link {
    color: white; /* Sets the text color to white */
}

/* Change the navbar text color on hover */
.navbar-light .navbar-nav .nav-link:hover {
    color: #8a3203; /* Sets the hover color to tomato red; replace with your color */
}
