/* Change the navbar color */
.navbar {
    background-color: #f5915b;
}

/* Change the navbar text color */
.nav-link {
    color: white; /* Sets the text color to white */
}

/* Change the navbar text color on hover */
.nav-link:hover {
    color: #8a3203;
}

/* Change the navbar text color on visited */
.nav-link:visited {
    color: #8a3203;
}

/* Change the navbar text color on visited */
.navbar:brand {
    color: white;
}